<ul class="list-group">
  <li class="list-group-item"><a routerLink="/Laptop">Laptop</a></li>
  <li class="list-group-item"><a routerLink="/Accessories">Accessories</a></li>
  <li class="list-group-item"><a routerLink="/Tablets">Tablets</a></li>
  <li class="list-group-item"><a routerLink="/Smartphones">Smartphones and Tablets</a></li>
  <li class="list-group-item"><a routerLink="/Flat">Flat Screen Monitors</a></li>
  <li class="list-group-item"><a routerLink="/Printers">Printers</a></li>
  <li class="list-group-item"><a routerLink="/MulPrinter">Multifunction Printers</a></li>
  <li class="list-group-item"><a routerLink="/Mice">Mice</a></li>
</ul>